<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/099f9f95a0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Registrar Usuario</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif !important;
        }
        
        a {
            text-decoration: none;
        }
        
        .header {
            background-color: #2196F3;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            width: 100%;
            position: fixed;
            z-index: 2;
        }
        
        .nav {
            display: flex;
            justify-content: space-between;
            transition: all 0.5s ease;
        }
        
        .nav a img {
            height: 100px;
            margin-top: 25px;
            margin-left: 45px;
            margin-bottom: 25px;
            border-radius: 45px;
            background-color: white;
        }
        
        .ul-menu {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            display: flex;
        }
        
        .ul-menu li {
            margin: auto;
            list-style: none;
            font-size: 22px;
            transition: all 0.25s;
        }
        
        .ul-menu li a {
            background-color: #369BF5;
            color: white;
            padding: 17px;
            border-radius: 30px;
            margin: 0px 10px 0px 10px;
            transition: all 0.8s ease;
        }
        
        .nav.active .ul-menu li a {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding: 17px;
            border-radius: 30px;
            margin: 0px 10px 0px 10px;
            border: solid 1px rgb(0, 0, 0);
        }
        
        .ul-menu li a:hover {
            border: solid 1px white;
            background-color: white;
            color: black;
            box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
        }
        
        .nav.active .ul-menu li a:hover {
            border: solid 1px rgb(0, 0, 0);
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            box-shadow: rgba(255, 255, 255, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
        }
        
        .nav.active {
            background: #ffffff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
        
        .ul-menu li:hover {
            transform: translateY(-15px);
        }
        /*footer*/
        /*footer*/
        
        footer {
            width: 100%;
            background-size: cover;
            color: white !important;
            background-color: #2196F3;
        }
        
        .container__footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1500px;
            margin: auto;
        }
        
        .box__footer {
            display: flex;
            flex-direction: column;
            padding: 40px;
        }
        
        .box__footer .logo img {
            border-radius: 45px;
            width: 250px;
        }
        
        .box__footer .terms {
            max-width: 350px;
            margin-top: 20px;
            font-weight: 500;
            font-size: 18px;
        }
        
        .box__footer h2 {
            margin-bottom: 30px;
            border-bottom: 1px solid white;
            font-weight: 700;
        }
        
        .box__footer a {
            display: flex;
            margin-top: 10px;
            font-weight: 600;
            color: white;
        }
        
        .box__footer a:hover {
            opacity: 0.8;
        }
        
        .box__footer a .fab {
            font-size: 20px;
        }
        
        .box__copyright {
            max-width: 1200px;
            margin: auto;
            text-align: center;
            padding: 0px 40px;
        }
        
        .box__copyright p {
            margin-top: 20px;
        }
        
        .box__copyright hr {
            width: 100%;
            height: 1px;
        }
        
        ion-icon {
            margin-right: 3px;
            font-size: 34px;
        }
        
        .wave-main2 {
            padding-top: 184px;
            overflow: hidden;
            padding-bottom: 0%;
            height: 300px;
        }
        
        .wave-2 {
            width: 300%;
            padding-top: 180px;
            background-image: url(/img/wave2.png);
            animation: o 7s linear infinite;
        }
        
        @keyframes a {
            0% {
                margin-left: 0;
            }
            100% {
                margin-left: 1396px;
            }
        }
        
        .wave-main {
            overflow: hidden;
        }
        
        .wave-1 {
            width: 300%;
            height: 100%;
            padding-top: 120px;
            background-position: bottom;
            background-image: url(/img/wave.png);
            animation: o 7s linear infinite;
        }
        
        @keyframes o {
            0% {
                margin-left: 0;
            }
            100% {
                margin-left: -1396px;
            }
        }
        /*form*/
        
        .border-form {
            margin: auto;
        }
        
        form {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            border-radius: 25px;
        }
        
        form h1 {
            font-size: 45px;
            margin-left: 2rem;
            font-weight: 900;
        }
        
        .border-form form {
            padding: 10px;
            margin: 10px;
            background-color: #E0FFFF;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        
        .border-form form input {
            width: 431px;
            height: 48px;
            margin: 10px;
            border-radius: 10px;
        }
        
        .border-form form label {
            font-size: 15px;
            font-weight: 500;
        }
        
        .form-button img {
            height: 40px;
        }
        
        form button {
            border-radius: 15px;
            border: none;
            width: 261px;
            font-size: 30px;
            text-align: center;
            height: 65px;
            margin-left: 7rem;
            margin-top: 1rem;
            background-color: #00205B;
            color: white;
            font-size: 35px;
            font-weight: 900;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        
        form button:hover {
            opacity: 0.9;
            cursor: pointer;
        }
        
        .border-form form hr {
            color: black;
        }
        
        .main {
            display: flex;
            padding-top: 13rem;
        }
        
        .cajita {
            color: white;
            padding: 5px;
            margin: 10px;
            background-color: #0099F3;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius: 10px;
        }
        
        .cajita:hover {
            opacity: 0.9;
        }
        
        .cajita label,
        input {
            display: block;
            margin-left: 15px;
        }
        
        .cajita input {
            overflow: none;
            border: none;
        }
        
        .cajita input:focus {
            border: none;
            outline: none;
        }
        
        .mayorcajita {
            margin: 15px;
            padding: 10px;
            display: flex;
        }
        
        ion-icon {
            padding-right: 2px !important;
            font-size: 24px !important;
        }
        /*form*/
        /*layer*/
    </style>
</head>

<body>
    <!--navbar-->
    <header class="header">
        <nav class="nav" id="nav-menu">
            <a href="/index"><img src="/img/logo.png" alt="#"></a>
            <ul class="ul-menu">
                <li><a href="/index">Inicio</a></li>
                <li><a href="/registro_pacientes">Registrar Pacientes</a></li>
                <li><a href="/tabla_pacientes">Consultar Pacientes</a></li>
                <li><a href="/sobre-nosotros">Nosotros</a></li>

            </ul>
        </nav>
    </header>
    <!--navbar-->

    <!--formulario-->

    <div class="main">
        <div class="border-form">
            <form action="/add" method="POST">
                <div class="mayorcajita">
                    <div>
                        <div class="cajita">
                            <label for="nombre">Nombre del Paciente</label>
                            <input type="text" name="nombre">
                        </div>
                        <div class="cajita">
                            <label for="apellido">Apellido del Paciente</label>
                            <input type="text" name="apellido">
                        </div>
                        <div class="cajita">
                            <label for="dni">DNI del paciente</label>
                            <input type="text" name="dni">
                        </div>
                    </div>

                    <div>
                        <div class="cajita">
                            <label for="edad">Edad del Paciente</label>
                            <input type="text" name="edad">
                        </div>
                        <div class="cajita">
                            <label for="nacimiento">Fecha de Nacimiento</label>
                            <input type="date" name="nacimiento">
                        </div>
                        <div class="cajita">
                            <label for="sexo">Sexo del Paciente</label>
                            <input type="text" name="sexo">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mayorcajita">
                    <div>
                        <div class="cajita">
                            <label for="peso">Peso del Paciente</label>
                            <input type="text" name="peso">
                        </div>
                        <div class="cajita">
                            <label for="altura">Estatura del Paciente</label>
                            <input type="text" name="altura">
                        </div>
                        <div class="cajita">
                            <label for="telefono">Telefono del Paciente</label>
                            <input type="text" name="telefono">
                        </div>
                    </div>
                    <div>
                        <div class="cajita">
                            <label for="direccion">Direccion de Domicilio</label>
                            <input type="text" name="direccion">
                        </div>
                        <div class="cajita">
                            <label for="correo">Correo Electronico</label>
                            <input type="text" name="correo">
                        </div>
                        <button type="submit" onclick="mostrar()">Registrar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>



    <!--formulario-->
    <!--footer-->
    <div class="wave-main2">
        <img class="wave-2" alt="">
    </div>
    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="/img/logo.png" alt=" ">
                </div>
                <div class="terms ">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente
                        deserunt.
                    </p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>


                <a href="# ">Ingresar Datos</a>
                <a href="# ">Sobre Nosotros</a>
                <a href="# ">Soporte</a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="# ">Acerca de</a>
                <a href="# ">Trabajos</a>
                <a href="# ">Procesos</a>
                <a href="# ">Servicios</a>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>


                <a href="# ">
                    <ion-icon name="logo-facebook"></ion-icon> Facebook</a>
                <a href="# ">
                    <ion-icon name="logo-twitter"></ion-icon> Twitter</a>
                <a href="# ">
                    <ion-icon name="logo-linkedin"></ion-icon> Linkedin</a>
                <a href="# ">
                    <ion-icon name="logo-instagram"></ion-icon>
                    </i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>MetaSalud</b></p>
        </div>
    </footer>


    <!--footer-->
    <script>
        const nav = document.querySelector('.nav');

        window.addEventListener('scroll', function() {
            nav.classList.toggle('active', window.scrollY > 0)
        })

        function geeks(msg, gfg) {
            var confirmBox = $("#container");

            /* Trace message to display */
            confirmBox.find(".message").text(msg);

            /* Calling function */
            confirmBox.find(".yes").unbind().click(function() {
                confirmBox.hide();
            });
            confirmBox.find(".yes").click(gfg);
            confirmBox.show();
        }

        function mostrar() {
            swal('Registrado', 'Paciente Registrado Satisfactoriamente', 'success');


        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>